<!DOCTYPE html>
<html>

<head>
    <title>範例1</title>
</head>

<body>

    <h1>我的圖表</h1>

    <div class="chart-container">
        <canvas id="myChartCanvas" width="800" height="500"></canvas>
    </div>

    <script src="{{ url_for('static',filename='vendor/chart.js/chart.umd.js') }}"></script>

    <script>
        console.log("Chart.js 已經載入，現在可以使用 'Chart' 這個物件了。")
        const canvasElement = document.getElementById('myChartCanvas')
        const ctx = canvasElement.getContext('2d')
        console.log(ctx)
    </script>

</body>

</html>